{% extends 'base.html'%} {% block body_block%}
<div class="container py-5">
  {% for message in messages %}
  <div
    class="alert {{ message.tags }} alert-dismissible shadow fade show"
    role="alert"
  >
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message | safe }}
  </div>
  {% endfor %}
  <form action="" method="POST">

    <label for="username">Enter Your Username:</label>
    <input type="text" name="username" id="username> <br />
  
    <label for="password">Enter Your Password:</label>
    <input type="password" name="password" id="password" />
<br>
{%csrf_token%}
    <input type="submit" value="Login" />
  </form>
</div>

{%endblock%}
