{% extends 'base.html'%} {% block body_block%}
<div class="container py-5">
  <!-- {% for message in messages %}
  <div
    class="alert {{ message.tags }} alert-dismissible shadow fade show"
    role="alert"
  >
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message | safe }}
  </div>
  {% endfor %} -->
  <h1 class="alert alert-success">Welcome Back @{{user.username}}</h1>
</div>
<div class="container">

<h1>Your Address Relatable First Contained INformation is here:</h1>




<h4> YOur Username: #{{user.username}}</h4>

    <h4>Your name: @{{user.user_profile.first_name}}</h4>
    <h4> YOur City: #{{user.user_profile.city}}</h4>
    <h4> YOur zipcode: #{{user.user_profile.zipcode}}</h4>
    <h4> YOur address: #{{user.user_profile.address_1}}</h4>
    <h4> YOur Country: #{{user.user_profile.country}}</h4>
   

    <h4 class="alert alert-warning"><a href="{% url 'cp' %}" style="text-decoration: none;">Update Your Profile!</a></h4>
    
    </div>
   
{%endblock%}
